:root {
    background-image: url("../images/pokerTablePov.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
}

#body {
    height: 100%;
    width: 100%;
}

.startMatchContainer {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dealerHand {
    display: flex;
    justify-items: baseline;
    max-width: 15%;
    max-height: 25%;
}

.playerHand {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    /* absolute and fixed force one card on top of another */
    bottom: 0;
    justify-items: baseline;
    max-width: 10%;
    max-height: 20%;
}